<!--<div *ngIf="!flag">-->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-user"></span>
      </p>
    </div>

    <!-- Login Form -->
    <!-- <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)"> -->
    <!-- <form name="form" #user="ngForm" (ngSubmit)="onClickSubmit1(user.value)" > -->
    <form name="form" #user="ngForm" (ngSubmit)="user.form.valid && onSubmit(user.value)" novalidate>
      <!-- <input type="text" id="name" class="fadeIn second" name="name" placeholder="Enter Name" formControlName="name" required>
        <input type="text" id="emailid" class="fadeIn third" name="emailid" placeholder="Enter Email" formControlName="emailid" required>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" formControlName="password" required>
        <input type="password" id="cpassword" class="fadeIn fourth" name="psw-repeat" placeholder="Conform Password" formControlName="cpassword" required>
        <input type="date" id="dob" class="fadeIn fourth" name="dob" placeholder="DOB" formControlName="dob">
         -->

      <!-- <input type="text" id="name" class="fadeIn second" name="name" placeholder="Enter Name" 
      ngModel required> -->


      <input type="text" id="name" name="name" class="fadeIn second" ngModel placeholder="Enter Name" #name="ngModel"
        [ngClass]="{ 'is-invalid': user.submitted && name.invalid }" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" required>
      <div *ngIf="user.submitted && name.invalid" class="invalid-feedback">
        <div *ngIf="name.errors.required"><b>Name is required</b></div>
        <div *ngIf="name.errors.pattern"><b>Enter Only Alphabats</b></div>
      </div>


      <input type="text" id="emailid" class="fadeIn third" name="emailid" placeholder="Enter Email" #email="ngModel"
        [ngClass]="{ 'is-invalid': user.submitted && email.invalid }" ngModel pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
      <div *ngIf="user.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required"><b>Email is required</b></div>
        <div *ngIf="email.errors.pattern"><b>Email must be a valid email address</b></div>
      </div>

      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" ngModel
      #password="ngModel" [ngClass]="{ 'is-invalid': user.submitted && password.invalid }" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" minlength="8">
      <div *ngIf="user.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required"><b>Passowrd is required</b></div>
        <div *ngIf="password.errors.minlength"><b>must be at least 8 characters</b> </div>
        <div *ngIf="password.errors.pattern"><b>Password must have at least one letter and one number:</b> </div>
      </div>


      <input type="password" id="cpassword" class="fadeIn fourth" name="cpassword" placeholder="Conform Password"
      #cpassword="ngModel"
      [ngClass]="{ 'is-invalid': user.submitted && cpassword.invalid }" ngModel required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" minlength="8">
      <div *ngIf="user.submitted && cpassword.invalid" class="invalid-feedback">
        <div *ngIf="cpassword.errors.required"><b>Conform Password is required</b></div>
        <div *ngIf="cpassword.errors.minlength"><b>Conform Password must be at least 8 characters</b></div>
        <div *ngIf="cpassword.errors.pattern"> <b>Password must have at least one letter and one number:</b></div>
      </div>

      <select name="role" class="fadeIn fourth" id="country" #role="ngModel"
      [ngClass]="{ 'is-invalid': user.submitted && role.invalid }"ngModel required>
        <option selected="" value="">Select Role</option>
        <option [ngValue]="c.name" *ngFor="let c of roleList">
          {{c.name}}
        </option>
      </select>
      <div *ngIf="user.submitted && role.invalid" class="invalid-feedback">
        <div *ngIf="role.errors.required"><b>Role is required</b></div>
      </div>

      <!-- <input type="date" id="dob" class="fadeIn fourth" name="dob" placeholder="DOB" ngModel
      #dob="ngModel"
        [ngClass]="{ 'is-invalid': user.submitted && dob.invalid }" required>
        <div *ngIf="user.submitted && dob.invalid" class="invalid-feedback">
          <div *ngIf="dob.errors.required">Dob is required</div>
        </div> -->

      <p> <a href="#">By creating an account you agree to our Terms & Privacy</a>.</p>
      <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
      <!-- <button [ngClass]="{enable: isPageLoaded===true}" type="submit" -->
      <!-- [disabled]="!user.form.valid" class="fadeIn fourth registerbtn">Register</button> -->
      <!-- <button type="submit" class="enable fadeIn fourth registerbtn">Register</button> -->
      <!-- <input type="submit" [ngClass]="{enable: isPageLoaded===true}"  class="fadeIn fourth" value="Register"> -->
      
      <input type="text" hidden  name="bookId"  ngModel>
          <input type="submit" class="fadeIn fourth" value="Register">
          <!-- <button type="submit" class="btn btn-secondary  btn-lg">Register</button> -->
         
        
          <input type="reset" class="fadeIn fourth" value="Reset">
         
     
          <div *ngIf="alert" Class="alert alert-success"> User Registered Successfully
           
          </div>
      
    
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>

  </div>
</div>


<div>
  <!-- <table  id="myTable">
    <tr class="header" >
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let usr of user">
      <td>{{usr.name}}</td>
      <td>{{usr.dob}}</td>
      <td>{{usr.emailid}}</td>
    </tr>
  </table> -->
</div>